* {
    margin: 0;
    padding: 0;
}

body {
    background-color: rgb(233, 233, 233);
}

.judul {
    text-align: center;
    margin-top: 20px;
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
}

.grid {
    margin-top: 10px;
    display: grid;
    grid-template-rows: 
    "1" "1"
    "2" "2"
    ;
    gap: 40px;
    font-family: 'Poppins', sans-serif;
    margin: 150px;
}

.grid1 {
    grid-area: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 295px;
    width: 600px;
}

.bag-img1 {
    display: flex;
    flex-direction: row;
}

.bag-text1 {
    margin-top: 10px;
    margin-left: 20px;
}

.img1 {
    width: 295px;
    height: 295px;
}

.img2 {
    width: 295px;
    height: 295px;
}

.img3 {
    width: 295px;
    height: 295px;
}

.img4 {
    width: 295px;
    height: 295px;
}

.grid2 {
    grid-area: 1;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 295px;
    width: 600px;
}

.grid3 {
    grid-area: 2;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 295px;
    width: 600px;
}

.grid4 {
    grid-area: 2;
    display: flex;
    flex-direction: row;
    background-color: white;
    height: 295px;
    width: 600px;
}

.h4-1 {
    font-size: 10px;
    margin: 10px;
    margin-top: 30px;
    color: red;
}

.h1-1 {
    margin: 10px;
    font-size: 20px;
    font-weight: 550;
}

.p-1 {
    font-size: 10px;
    font-weight: 100;
    margin: 10px;
}

.btn {
    padding: 13px 30px;
    border-radius: 30px;
    border: none;
    margin-top: 20px;
}